#root {
  max-width: 428px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 100px;
}
.meals-list {
  padding: 0;
}
.addMeal {
  font-size: 20px;
  padding: 10px;
  border-radius: 7px;
  text-align: center;
  background-color: rgb(36, 65, 185);
  color: white;
}
.addMeal:hover {
  color: black;
}
.title {
  font-size: 30px;
}
.logo {
  width: 150px;
}
